<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD59Fh4wqzVkPfd3uUP30WSi59MHmSylC8</string>
	<key>GCM_SENDER_ID</key>
	<string>570557940264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTiktokClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-tiktok-clone-209d0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tiktok-clone-209d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570557940264:ios:39cd7b747294be0e0f6b1d</string>
</dict>
</plist>